<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shiyouge.mapper.AdminMapper">
    <resultMap id="BaseResultMap" type="com.example.shiyouge.bean.Admin">
        <id column="AdminId" property="adminId"/>
        <result column="AdminPassword" property="adminPassword"/>
    </resultMap>

    <select id="signIn" resultType="java.lang.String">
        select password from user where userId = #{userId}
    </select>

</mapper>