<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shiyouge.mapper.BlackBoardMapper">
    <resultMap id="BaseResultMap" type="com.example.shiyouge.bean.BlackBoard">
        <id column="recordIdOfBlackBoard" property= "recordIdOfBlackBoard"/>
        <result column="dormitoryIdOfBoard" property="dormitoryIdOfBoard"/>
        <result column="recordType" property="recordType"/>
        <result column="userIdOfRecord" property="userIdOfRecord"/>
        <result column="recordTime" property="recordTime"/>
    </resultMap>

    <select id="getTheBlackBoardRecords" resultMap="BaseResultMap">
        select * from (select * from blackboard where dormitoryIdOfBoard = #{dormitoryId} order by recordTime desc) as tmp limit #{getNum}
    </select>

    <insert id="createTheBlackBoardRecord">
        insert into blackboard(dormitoryIdOfBoard, recordType, userIdOfRecord, recordTime)
        value(#{dormitoryId}, #{actionType}, #{userId}, #{createTime})
    </insert>

</mapper>