<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shiyouge.mapper.BlackBoardMapper">
    <resultMap id="BaseResultMap" type="com.example.shiyouge.bean.BlackBoard">
        <id column="dormitoryIdOfBoard" property="dormitoryIdOfBoard"/>
        <result column="recordType" property="recordType"/>
        <result column="userIdOfRecord" property="userIdOfRecord"/>
        <result column="recordTime" property="recordTime"/>
    </resultMap>

</mapper>