<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shiyouge.mapper.CollectMapper">
    <resultMap id="BaseResultMap" type="com.example.shiyouge.bean.Collect">
        <id column="collectId" property="collectId"/>
        <result column="userIdOfCollector" property="userIdOfCollector"/>
        <result column="postIdOfCollection" property="postIdOfCollection"/>
    </resultMap>

    <select id="getTheCollectByUserIdAndPostId" resultMap="BaseResultMap">
        select * from collect where userIdOfCollector = #{userId} and postIdOfCollection = #{postId}
    </select>

    <select id="getThePostIdOfCollect" resultType="java.lang.Integer">
        select postIdOfCollection from collect where userIdOfCollector = #{userId}
    </select>

    <insert id="createCollection">
        insert into collect(userIdOfCollector, postIdOfCollection)
        value (#{userId}, #{postId})
    </insert>

    <delete id="cancelCollection">
        delete from collect where userIdOfCollector = #{userId} and postIdOfCollection = #{postId}
    </delete>

</mapper>