<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shiyouge.mapper.DormitoryMapper">
    <resultMap id="BaseResultMap" type="com.example.shiyouge.bean.Dormitory">
        <id column="dormitoryId" property="dormitoryId"/>
        <result column="numberOfMate" property="numberOfMate"/>
        <result column="flowerGrowthValue" property="flowerGrowthValue"/>
        <result column="flowerWateringTimes" property="flowerWateringTimes"/>
        <result column="flowerFertilizationTimes" property="flowerFertilizationTimes"/>
        <result column="soilMoisture" property="soilMoisture"/>
        <result column="soilFertilit" property="soilFertility"/>
        <result column="joinPassward" property="joinPassward"/>
    </resultMap>

    <update id="setTheAllSoilMoistureToZero">
        update dormitory set soilMoisture = 0
    </update>

    <update id="setTheAllSoilFertilityToZero">
        update dormitory set soilFertility = 0
    </update>



</mapper>