<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shiyouge.mapper.MatchingMapper">
    <resultMap id="BaseResultMap" type="com.example.shiyouge.bean.Matching">
        <id column="matchingId" property="matchingId"/>
        <result column="userIdOnMatching" property="userIdOnMatching"/>
        <result column="labelOfUser" property="labelOfUser"/>
        <result column="failedTimes" property="failedTimes"/>
    </resultMap>

    <insert id="createMatchingRole">
        insert into matching(matchingId, userIdOnMatching, labelOfUser, failedTimes)
        value (#{matchingId}, #{userIdOnMatching}, #{labelOfUser}, #{failedTimes})
    </insert>

    <delete id="deleteAllInf">
        delete from matching
    </delete>

    <select id="getMatchingFailedTimesByUserId" resultType="int">
        select failedTimes from matching where userIdOnMatching = #{userId}
    </select>

    <update id="setMatchingFailedTimesByUserId">
        update matching set failedTimes = #{failedTimes} where userIdOnMatching = #{userId}
    </update>


</mapper>