<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shiyouge.mapper.StudySystemMapper">
    <resultMap id="BaseResultMap" type="com.example.shiyouge.bean.StudySystem">
        <id column="recordIdOfStudy" property="recordIdOfStudy"/>
        <result column="userIdOfSelfStudy" property="userIdOfSelfStudy"/>
        <result column="studyTimeTotal" property="studyTimeTotal"/>
        <result column="dateOfStudy" property="dateOfStudy"/>
    </resultMap>

    <insert id="createTheStudyRecord">
        insert into studysystem(userIdOfSelfStudy, studyTimeTotal,dateOfStudy)
        value(#{userId}, #{studyTime}, #{recordTime})
    </insert>


</mapper>