<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shiyouge.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.shiyouge.bean.User">
        <id column="" property="userId"/>
        <result column="userSex" property="userSex"/>
        <result column="userNickname" property="userNickname"/>
        <result column="userPhoto" property="userPhoto"/>
        <result column="userRealName" property="userRealName"/>
        <result column="userStudentNumber" property="userStudentNumber"/>
        <result column="userDormitoryId" property="userDormitoryId"/>
        <result column="userWateringTimes" property="userWateringTimes"/>
        <result column="userFertilizationTimes" property="userFertilizationTimes"/>
        <result column="fertilizerQuantity" property="fertilizerQuantity"/>
        <result column="waterQuantity" property="waterQuantity"/>
        <result column="userStudyRoomId" property="userStudyRoomId"/>
        <result column="ifSilent" property="ifSilent"/>
        <result column="endSilentTime" property="endSilentTime"/>
        <result column="lable" property="lable"/>
        <result column="userStudyTimeIntotal" property="userStudyTimeIntotal"/>
        <result column="userStudyTimeToday" property="userStudyTimeToday"/>
        <result column="userStudyTimeWeek" property="userStudyTimeWeek"/>
    </resultMap>

    <select id="getTheFertilizerQuantityOfUser" resultType="int">
        select fertilizerQuantity from user where userId = #{userId}
    </select>

    <select id="getTheStudyRoomIdOfUser" resultType="int">
        select userStudyRoomId from user where userId = #{userId}
    </select>

    <select id="getTheStudyTimeTotalOfUser" resultType="int">
        select userStudyTimeIntotal from user where userId = #{userId}
    </select>

    <update id="uptateTheStudyTimeTotalOfUser">
        update user set userStudyTimeIntotal = #{studyTimeIntotal} where userId = #{userId}
    </update>

    <select id="getTheStudyTimeTodayOfUser" resultType="int">
        select userStudyTimeToday from user where userId = #{userId}
    </select>

    <update id="uptateTheStudyTimeTodayOfUser">
        update user set userStudyTimeToday = #{studyTimeToday} where userId = #{userId}
    </update>

    <select id="getTheStudyTimeWeekOfUser" resultType="int">
        select userStudyTimeWeek from user where userId = #{userId}
    </select>

    <update id="uptateTheStudyTimeWeekOfUser">
        update user set userStudyTimeWeek = #{studyTimeWeek} where userId = #{userId}
    </update>

    <select id="getTheNickNameByUserId" resultType="java.lang.String">
        select userNickname from user where userId = #{userId}
    </select>

    <update id="setAllTheStudyTimeTodayToZero">
        update user set userStudyTimeToday = 0
    </update>

    <update id="setAllTheStudyTimeWeekToZero">
        update user set userStudyTimeWeek = 0
    </update>

    <select id="getTheTodayTop10" resultType="java.lang.String">
        select * from (select * from user order by userStudyTimeToday desc) as tmp limit 10
    </select>

    <select id="getTheWeekTop10" resultType="java.lang.String">
        select * from (select * from user order by userStudyTimeWeek desc) as tmp limit 10
    </select>

    <select id="getAllUserId" resultType="java.lang.String">
        select userId from user
    </select>

    <select id="getNickNameByUserId" resultType="java.lang.String">
        select userNickName from user where userId = #{userId}
    </select>

    <select id="getRealNameByUserId" resultType="java.lang.String">
        select userRealName from user where userId = #{userId}
    </select>

    <select id="getStudentNumberByUserId" resultType="java.lang.String">
        select userStudentNumber from user where userId = #{userId}
    </select>

    <select id="getIfSilentByUserId" resultType="int">
        select ifSilent from user where userId = #{userId}
    </select>

    <update id="updateUserInfo">
        update user
        set userRealName = #{userRealName},userStudentNumber = #{userStudentNumber}
        where userId = #{userId}
    </update>

    <select id="getNumberOfReported" resultType="int">
        select count(*) from post where ifReported = 1
    </select>

    <update id="silent" parameterType="user">
        update user set ifSilent = 1 where userId = #{userId}
    </update>

</mapper>