<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shiyouge.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.shiyouge.bean.User">
        <id column="" property="userId"/>
        <result column="userSex" property="userSex"/>
        <result column="userNickname" property="userNickname"/>
        <result column="userPhoto" property="userPhoto"/>
        <result column="userRealName" property="userRealName"/>
        <result column="userStudentNumber" property="userStudentNumber"/>
        <result column="userDormitoryId" property="userDormitoryId"/>
        <result column="userWateringTimes" property="userWateringTimes"/>
        <result column="userFertilizationTimes" property="userFertilizationTimes"/>
        <result column="fertilizerQuantity" property="fertilizerQuantity"/>
        <result column="waterQuantity" property="waterQuantity"/>
        <result column="userStudyRoomId" property="userStudyRoomId"/>
        <result column="ifSilent" property="ifSilent"/>
        <result column="endSilentTime" property="endSilentTime"/>
        <result column="lable" property="lable"/>
        <result column="userStudyTimeIntotal" property="userStudyTimeIntotal"/>
    </resultMap>

    <select id="getTheFertilizerQuantityOfUser" resultType="int">
        select fertilizerQuantity from user where userId = #{userId}
    </select>

    <select id="getTheStudyTimeTotalOfUser" resultType="int">
        select userStudyTimeIntotal from user where userIdOfSelfStudy = #{userId}
    </select>

    <select id="getTheStudyRoomIdOfUser" resultType="int">
        select userStudyRoomId from user where userIdOfSelfStudy = #{userId}
    </select>

</mapper>